html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background-color: #BDBDBD;
  color: #757575;
}

body .container {
  padding: 0;
}

body .title {
  overflow: hidden;
  text-align: center;
}

body .title h4 {
  font-weight: bold;
  color: #757575;
  margin: 2rem 0;
  padding: 2rem;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

body .title:before, body .title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 1rem;
  background-color: #3F51B5;
  position: relative;
  opacity: 0.5;
}

body .title:before {
  margin-left: -100%;
  left: 1.5rem;
}

body .title:after {
  margin-right: -100%;
  right: 1.5rem;
}

body .btn {
  border: 2px solid #3F51B5;
  background-color: transparent;
  color: #3F51B5;
  border-radius: 0.5rem;
  font-size: 1em;
  padding: 1rem 2rem;
}

body .btn:hover {
  background-color: #3F51B5;
  color: #FFFFFF;
}

body .navbar {
  padding: 0.3rem 5rem;
  border: 1px solid #212121;
}

body .navbar .number-phone {
  color: #3F51B5;
}

body .navbar .navbar-nav li.nav-item > a.nav-link {
  color: #212121;
}

body .navbar .navbar-nav li.nav-item > a.nav-link:hover {
  color: #3F51B5;
}

body .navbar .navbar-nav li.active > a.nav-link {
  color: #3F51B5;
}

body header {
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 3rem;
}

body header p {
  color: #757575;
}

body header h4 {
  font-size: 20px;
  font-weight: bold;
  color: #757575;
}

body header h4 > span {
  color: #3F51B5;
}

body header form {
  border: double 1rem #FFFFFF;
}

body header form div {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5rem;
}

body header form span {
  color: #3F51B5;
  font-weight: bold;
  font-size: 1em;
}

body header form input {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #3F51B5;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body header form input::-webkit-input-placeholder {
  color: #3F51B5;
}

body header form input:-moz-input-placeholder {
  color: #3F51B5;
}

body header form input:-ms-input-placeholder {
  color: #3F51B5;
}

body .popcat {
  background-image: url(../img/background.jpg);
  padding-bottom: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .popcat a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

body .popcat a P {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #212121;
  text-shadow: 0 0 3px #FFFFFF;
  position: absolute;
  font-size: 1.6em;
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .popcat a img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .popcat a:hover img {
  background-color: #C5CAE9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .popcat a:hover p {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=main.css.map */