html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background-color: #BDBDBD;
  color: #757575;
}

body .container {
  padding: 0;
}

body .title {
  overflow: hidden;
  text-align: center;
}

body .title h4 {
  font-weight: bold;
  color: #757575;
  margin: 2rem 0;
  padding: 2rem;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

body .title:before, body .title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 1rem;
  background-color: #3F51B5;
  position: relative;
  opacity: 0.5;
}

body .title:before {
  margin-left: -100%;
  left: 1.5rem;
}

body .title:after {
  margin-right: -100%;
  right: 1.5rem;
}

body .btn {
  border: 2px solid #3F51B5;
  background-color: transparent;
  color: #3F51B5;
  border-radius: 0.5rem;
  font-size: 1em;
  padding: 1rem 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .btn:hover {
  background-color: #3F51B5;
  color: #FFFFFF;
}

body .btn-inverse {
  border: 2px solid #3F51B5;
  background-color: #3F51B5;
  color: #FFFFFF;
  border-radius: 0;
  font-size: 1em;
  padding: 1rem 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .btn-inverse:hover {
  color: #3F51B5;
  background-color: transparent;
}

body .navbar {
  padding: 0.3rem 5rem;
  border: 1px solid #212121;
}

body .navbar .number-phone {
  color: #3F51B5;
}

body .navbar .navbar-nav li.nav-item > a.nav-link {
  color: #212121;
}

body .navbar .navbar-nav li.nav-item > a.nav-link:hover {
  color: #3F51B5;
}

body .navbar .navbar-nav li.active > a.nav-link {
  color: #3F51B5;
}

body header {
  background-image: url("../img/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15rem 3rem;
}

body header p {
  color: #757575;
}

body header h4 {
  font-size: 20px;
  font-weight: bold;
  color: #757575;
}

body header h4 > span {
  color: #3F51B5;
}

body header form {
  border: double 1rem #FFFFFF;
}

body header form div {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5rem;
}

body header form span {
  color: #3F51B5;
  font-weight: bold;
  font-size: 1em;
}

body header form input {
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #3F51B5;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body header form input::-webkit-input-placeholder {
  color: #3F51B5;
}

body header form input:-moz-input-placeholder {
  color: #3F51B5;
}

body header form input:-ms-input-placeholder {
  color: #3F51B5;
}

body .popcat {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

body .popcat a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

body .popcat a P {
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #212121;
  text-shadow: 0 0 3px #FFFFFF;
  position: absolute;
  font-size: 1.6em;
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .popcat a img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .popcat a:hover img {
  background-color: #C5CAE9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .popcat a:hover p {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .adv {
  color: #FFFFFF;
  background-image: url("../img/fon-adv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body .adv:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#303F9F), color-stop(50%, #3F51B5), to(#FFFFFF));
  background-image: linear-gradient(left, #303F9F 0%, #3F51B5 50%, #FFFFFF 100%);
  opacity: 0.6;
}

body .adv .row {
  padding: 3rem 0;
}

body .adv h6 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1em;
}

body .adv p {
  font-size: 0.7em;
}

body .popgoods {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .popgoods .row {
  padding-bottom: 3rem;
}

body .popgoods .row:first-child {
  padding-bottom: 0;
}

body .form_zamer {
  position: relative;
  background-image: url("../img/fiedback.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body .form_zamer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#303F9F), color-stop(50%, #3F51B5), to(#FFFFFF));
  background-image: linear-gradient(left, #303F9F 0%, #3F51B5 50%, #FFFFFF 100%);
  opacity: 0.6;
}

body .form_zamer .row {
  padding: 3rem 0;
}

body .form_zamer h5 {
  font-size: 1.2em;
}

body .form_zamer h6 {
  font-size: 1em;
}

body .form_zamer p {
  font-size: 0.8em;
}

body .form_zamer img {
  margin-bottom: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body .form_zamer img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .form_zamer input {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 2px solid #FFFFFF;
  margin-bottom: 1rem;
}

body .form_zamer input::-webkit-input-placeholder {
  color: #FFFFFF;
}

body .form_zamer input:-moz-input-placeholder {
  color: #FFFFFF;
}

body .form_zamer input:-ms-input-placeholder {
  color: #FFFFFF;
}

body .form_zamer button {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 1rem;
}

body .reviews {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

body .reviews .card {
  height: 100%;
}

body .reviews .card h5 {
  font-size: 1em;
  color: #3F51B5;
}

body .reviews .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233f51b5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

body .reviews .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233f51b5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*# sourceMappingURL=main.css.map */